*
{
    margin: 0;
    padding: 0;
}
body
{
    width: 100%;
    background-image: url(/Images/Background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.container
{
    width: 700px;
    height: 1000px; 
    position: relative;
    background-origin: border-box;
    background-image: url(/Images/Page.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px auto;
}
.profile
{
    width: 175px;
    height: 175px;
    position: absolute;
    background-image: url(/Images/PAUL.jpg);
    background-size: cover;
    top: 86px;
    margin: 20px 67%;
    border-radius: 90px;
}

.container h1
{
    font-size: 30px;
    font-family: cursive;
    color: rgb(190, 91, 91);
    position: absolute;
    font-weight: bold;
    top: 200px;
    left: 50px;
}
.container h3
{
    font-size: 20px;
    color: rgb(53, 114, 41);
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    top: 250px;
    right: 250px;
}
.container p
{
    font-size: 20px;
    font-family: 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    position: absolute;
    letter-spacing: 1px;
    word-spacing: 2px;
    line-height: 30px;
    left: 10%;
    top: 40%;
}
.container table
{
    position: absolute;
    font-weight: bold;
    top: 70%;
    font-size: 19px;
    text-align: center;
    line-height: 30px;
}
.container .home a
{
    text-decoration: none;
    position: relative;
    font-size: 30px;
    font-family:'Lucida Sans Regular';
    letter-spacing: 2px;
    top: 880px;
    left: 300px;
    color: rgb(66, 8, 224);
}
.container .home a:hover
{
    color: red;
}